* {
    margin: 0;
    padding: 0;
}

body {
    background-image: radial-gradient( circle farthest-corner at 0.8% 1.8%, rgba(255, 104, 107, 1) 0%, rgba(255, 187, 103, 1) 90.1%);
    background-size: 500%;
    height: 100vh;
    animation: rotate 7s infinite alternate;
}

.font-Mid {
    font-size: 20px;
    text-align: center;
    margin: 30px;
}

.margin-m {
    margin: 20px;
}

@keyframes rotate {
    0% {
        background-position: left;
    }
    100% {
        background-position: right;
    }
}


/* Main */

.box {
    width: 40vw;
    margin: auto;
    margin-top: 40px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
}

hr {
    margin: 10px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 20px;
}

input {
    margin-bottom: 10px;
}

.rectInput {
    font-size: 20px;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid black;
}

.circleInput {
    width: 15px;
    height: 15px;
}

@media only screen and (max-width: 900px) {
    .box {
        width: 50vw;
    }
}

@media only screen and (max-width: 600px) {
    .box {
        width: 60vw;
    }
}

@media only screen and (max-width: 400px) {
    .box {
        width: auto;
        margin: 30px 10px;
    }
}